body {
	background: #fff;
}
.container {
	width: 780px;
	height: 460px;
	margin: 50px auto;
	border-top-left-radius: 9px;
	border-top-right-radius: 9px;
	box-shadow: 0 0 20px 6px #888888;
	
	background: url(../images/muisc-bg.jpg) no-repeat center center;
}
.irc-view {
	height: 390px;
	background: #000;
	opacity: 0.7;
	color: #fff;
	overflow: hidden;
	border-top-left-radius: 9px;
	border-top-right-radius: 9px;
	text-align: center;
}
.irc-view p {
	margin: 2px 0;
}
#irc {
	width: 400px;
	height: inherit;
	margin: 0 auto;
	margin-top: 15px;
}
.player-view {
	height: 70px;
	opacity: 0.9;
	background: #000;
}
.player-view-left {
	float: left;
	height: inherit;
	line-height: 70px;
	text-align: center;
	width: 30%;
}
.player-view-left button {
	width: 40px;
	height: 40px;
	margin: 0 5px;
	background: #fff;
	outline: none;
	border: none;
	border-radius: 100%;
}
#play {
	width: 48px;
	height: 48px;
}
.player-view-middle {
	float: left;
	height: inherit;
	width: 50%;
}
.player-view-middle span {
	display: inline-block;
	margin: 14px 0 3px;
	color: #fff;
}
#songName {
	margin-right: 135px;
}
#progress-bar,
#progress-bar-cover {
	height: 6px;
	margin: 10px 0;
	border-radius: 6px;
	background: #fff;
}
#progress-bar-cover {
	position: relative;
	top: -16px;
}
#progress-bar-button {
	position: relative;
	top: -6px;
	left: -7px;
	width: 14px;
	height: 14px;
	background: #006633;
	border: none;
	outline: 0;
	border-radius: 100%;
}